<!-- Navbar goes here -->

    <!-- Page Layout here -->
    <div class="row">
        <h1>Book Hub</h1>
        <div class="col s3">
            <!-- Grey navigation panel -->
            Example Side Navigation Layout
            You can see how easy it is to create layouts using the grid system. Just remember to make sure your column numbers add up to 12 for an even layout.
            
        </div>
  
        <div class="col s9">
            Example Side Navigation Layout
            You can see how easy it is to create layouts using the grid system. Just remember to make sure your column numbers add up to 12 for an even layout.
            
            
        </div>
  
      </div>